<form method="post" class="mt-1">
    {% csrf_token %}
    <input type="hidden" name="action" value="ignorar_transacao">
    <input type="hidden" name="ano" value="{{ ano }}">
    <input type="hidden" name="mes" value="{{ mes }}">
    <input type="hidden" name="retorno" value="{{ request.GET.urlencode }}">
    <input type="hidden" name="identificador" value="{{ transacao.identificador }}">
    <input type="hidden" name="referencia" value="{{ transacao.hora }} {{ transacao.meio }} R$ {{ transacao.bruto }} {{ transacao.nome }}">
    <button class="btn btn-sm btn-outline-secondary py-0" type="submit">Não é do salão</button>
</form>
